.search-results {
  padding: 1rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  // position: relative;
}
.sort-panel {
  display: grid;
  gap: 1px;
  grid-auto-flow: column;
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 13;
  background-color: $color-grey-light-2;
  border-radius: 5px;
  margin: 0 3px 0 3px;
}

.sort-param {
  // width: min-content;
  width: max-content;
  padding: 0 0 0 10px;
  white-space: nowrap;
}

.sort-btn {
  font-size: 8;
  width: min-content;
  border: none;
  background: none;
  padding: 0 7px 0 7px;
}

.sort-btn:hover {
  background-color: $color-grad-1;
  border-radius: 50%;
}

.sort-btn:active {
  background-color: $color-grey-light-3;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
  // height: max-content;
  min-height: 90rem;
  // max-height: 100rem;
}

.pagination {
  margin-top: 4rem;
  // margin-top: auto;
  padding: 0 0.5rem;
  // display: flex;
  // justify-content: space-between;
  display: grid;
  // grid-template-columns: 30% 30% 30%;
  grid-template-columns: 1fr 1fr 1fr;

  &::after {
    content: '';
    // display: table;

    // clear: both;
  }

  &__btn {
    &--prev {
      // float: left;
    }
    &--next {
      // float: right;
    }
  }

  &__left--padding {
    width: 9.1rem;
    display: inline-block;
    // height: 2.8em;
  }

  &__pages--count {
    // flex: 1;
    text-align: center;
    font-size: 1.3rem;
    // position: sticky;
    // display: inline-flex;
    // display: inline-block;
    // justify-content: center;
    // justify-self: center;
    margin-top: 0.6rem;
    // width: 40.3%;
    // width: 9em;
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;
  // margin-top: auto;
  // display: inline-block;
  // position: sticky;
  // bottom: 3rem;
  // width: 42%;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
